<div class="l-header">
  <h1 class="l-header__title">The Marketing Blog</h1>
  <img class="l-header__logo" src="https://www.postedin.com/wp-content/themes/postedin/assets/images/logo.svg" title="Posted In Logo" alt="Posted In Logo">
</div>
