// Common Breakpoints
$sm: 480px;
$md: 768px;
$lg: 960px;
$xl: 1280px;

//  Colors - Brand
$brand-primary: #01CDA9;

//  Colors - Grays
$gray-dark: #333333;
$gray-light: #fafafa;

// Fonts
$type-title: 'Roboto', sans-serif;
$type-body: 'Noto Serif', serif;

// Spacing
$space-smallest: 5px;
$space-small: 15px;
$space-big: 30px;
$space-biggest: 60px;
